/* enrollment css */
.header-os {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #284a8b;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.os-table-container {
    border: 2px solid #ddd;
    padding: 1rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.styled-os-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
}
.styled-ns-table th,
.styled-ns-table td {
  text-align: center;
}

.styled-ns-table td:first-child {
  text-align: left; 
}
.dark-mode table{
    background: linear-gradient(to bottom, #464646, #1d1d1d);
}

.header-ns {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #284a8b;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.totals span {
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
}

.date-container {
    font-size: 16px;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
    align-items: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid transparent;
    padding: 6px;
    
}

th {
    background-color: #284a8b;
    color: white;
    font-size: 14px;
}

td {
    font-size: 15px;
}

td input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 13.5px;
}

.save-btn {
    display: flex;
}
input.editing {
    background-color: #fffbe6;
    border: 1px solid #f0c36d;
  }  

button {
    padding: 10px 15px;
    border: none;
    background-color: #284a8b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background-color: #e6c200;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .totals {
        margin-top: 10px;
    }

    table {
        font-size: 12px;
    }

    td input {
        width: 50px;
    }
}
